# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TimfDev\restApiSB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
